networks:
    media-services-net:
        name: media-services-net
    proxy-services-net:
        name: proxy-services-net

services:
    plex:
        image: lscr.io/linuxserver/plex:latest
        container_name: plex
        network_mode: host
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - VERSION=latest
        devices:
            - /dev/dri:/dev/dri
        volumes:
            - ${PATH_SERVICES}/media-services/plex:/config
            - ${PATH_MEDIA}/videos/tv:/tv
            - ${PATH_MEDIA}/videos/movies:/movies
            - ${PATH_MEDIA}/music:/music
        restart: unless-stopped 

    tautulli:
        image: lscr.io/linuxserver/tautulli:latest
        container_name: tautulli
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ=${TZ}
        volumes:
            - ${PATH_SERVICES}/media-services/tautulli:/config
            - ${PATH_SERVICES}/media-services/plex/Library/Application Support/Plex Media Server/Logs:/plex/logs:ro
        ports:
            - 8107:8181
        restart: unless-stopped

    overseerr:
        image: lscr.io/linuxserver/overseerr:latest
        container_name: overseerr
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ=${TZ}
        ports:
            - 8100:5055
        volumes:
            - ${PATH_SERVICES}/media-services/overseerr:/config
        networks:
            - media-services-net
            - proxy-services-net
        restart: unless-stopped

    flood:
        image: cr.hotio.dev/hotio/rflood:release
        container_name: flood
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - UMASK=002
            - TZ=${TZ}
            - FLOOD_AUTH=true
        volumes:
            - ${PATH_SERVICES}/media-services/flood:/config
            - ${PATH_MEDIA}/torrents:/media/torrents
        ports:
            - 8101:3000
            - 55834:55834
        networks:
            - media-services-net
            - proxy-services-net
        restart: unless-stopped

    prowlarr:
        image: lscr.io/linuxserver/prowlarr:latest
        container_name: prowlarr
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ=${TZ}
        volumes:
            - ${PATH_SERVICES}/media-services/prowlarr:/config
        ports:
            - 8102:9696
        networks:
            - media-services-net
        restart: unless-stopped

    sonarr:
        image: lscr.io/linuxserver/sonarr:develop
        container_name: sonarr
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ=${TZ}
        volumes:
            - ${PATH_SERVICES}/media-services/sonarr:/config
            - ${PATH_MEDIA}:/media
        ports:
            - 8103:8989
        networks:
            - media-services-net
        restart: unless-stopped

    radarr:
        image: lscr.io/linuxserver/radarr:latest
        container_name: radarr
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ=${TZ}
        volumes:
            - ${PATH_SERVICES}/media-services/radarr:/config
            - ${PATH_MEDIA}:/media
        ports:
            - 8104:7878
        networks:
            - media-services-net
        restart: unless-stopped

    lidarr:
        image: lscr.io/linuxserver/lidarr:latest
        container_name: lidarr
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ=${TZ}
        volumes:
            - ${PATH_SERVICES}/media-services/lidarr:/config
            - ${PATH_MEDIA}:/media
        ports:
            - 8105:8686
        networks:
            - media-services-net
        restart: unless-stopped
    
    readarr:
        image: lscr.io/linuxserver/readarr:develop
        container_name: readarr
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ=${TZ}
        volumes:
            - ${PATH_SERVICES}/media-services/readarr:/config
            - ${PATH_MEDIA}:/media
        ports:
            - 8106:8787
        networks:
            - media-services-net
        restart: unless-stopped
