# Ignore everything
*

# Except for...
!.gitignore
!.github/
!.github/**
!README.md

!scripts/
!scripts/**

!services/
!services/*/docker-compose.yml
!services/*/docker-compose.valheim.yml
!services/*/backup.sh
!services/*/*.example