# Ignore everything
*

# Except for...
!.gitignore
!README.md

!scripts/
!scripts/*
!scripts/*/*

!services/
!services/*
!services/*/docker-compose.yml
!services/*/docker-compose.valheim.yml
!services/*/backup.sh
!services/*/*.example