PUID=1000
PGID=1000
TZ=America/Vancouver

SERVER_NAME=REPLACEME
WORLD_NAME=REPLACEME
SERVER_PASS=REPLACEME
SERVER_PUBLIC=true
UPDATE_CRON=*/30 * * * * # Check for updates every 30 minutes
RESTART_CRON=0 3 * * 1 # Restart every Monday at 3 AM
RESTART_IF_IDLE=true

BACKUPS_DIRECTORY=/backups
BACKUPS_CRON=0 */2 * * * # Create a backup on the hour every 2 hours
BACKUPS_IF_IDLE=false
BACKUPS_MAX_AGE=7

SUPERVISOR_HTTP=true
SUPERVISOR_HTTP_USER=REPLACEME
SUPERVISOR_HTTP_PASS=REPLACEME

STATUS_HTTP=true
STATUS_HTTP_PORT=9002

DISCORD_WEBHOOK=REPLACEME
PRE_BOOTSTRAP_HOOK=curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Odin\",\"embeds\":[{\"title\":\"Starting up...\",\"color\":5814783}]}" "$DISCORD_WEBHOOK"
POST_SERVER_LISTENING_HOOK=curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Odin\",\"embeds\":[{\"title\":\"Ready\",\"description\":\"The world is now available!\",\"color\":3066993,\"fields\":[{\"name\":\"Name\",\"value\":\"$SERVER_NAME\"},{\"name\":\"Password\",\"value\":\"$SERVER_PASS\"}],\"footer\":{\"text\":\"Seed: $WORLD_NAME\nIP: $(curl -s http://whatismyip.akamai.com/)\",\"icon_url\":\"https://i.imgur.com/TgNbDvi.png\"},\"thumbnail\":{\"url\":\"https://i.imgur.com/HaBvcQu.png\"}}]}" "$DISCORD_WEBHOOK"
PRE_SERVER_SHUTDOWN_HOOK=curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Odin\",\"embeds\":[{\"title\":\"Shutting down.\",\"color\":5814783}]}" "$DISCORD_WEBHOOK"